@charset "UTF-8";

/* btn */
@mixin btns() {
  display: -webkit-flex;
  display: flex;
  -js-display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  @include margin-vertical($bottom: false, $ratio: 0.25);
  & > * {
    &:first-child {
      margin-top: 0;
    }
  }
}
@mixin btn($align: "center") {
  display: block;
  @include MQ(lower-tablet) {
    margin-top: 2rem;
  }
  a {
    display: block;
    padding: 1em 2em;
    color: var(--btn-color-text, #222);
    background-color: var(--btn-color, #666);
    // font-size: 95%;
    font-weight: bold;
    line-height: 1;
    vertical-align: bottom;
    text-decoration: none;
    border-radius: 1rem;
    text-align: center;
    transition: all 0.5s ease-out;

    &:before {
      display: inline-block;
      content: "";
      height: 1em;
      width: 1em;
      background-color: var(--btn-color-text);
      transition: background-color 0.4s;
      vertical-align: middle;
      margin-right: 0.5em;

      -webkit-mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>');
      -webkit-mask-size: contain;
      mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>');
      mask-size: contain;
      mask-repeat: no-repeat;
    }
    &:hover {
      transform: scale(1.05);
    }
  }

  &.-center {
  }
}

/* old */

.-thumbnail {
  position: relative;
  background-color: #ccc;
  overflow: hidden;

  &:before {
    display: block;
    content: "";
    // padding-top: 62%;
    padding-top: 71%;
  }

  & > img {
    max-width: inherit;
    width: 101%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.tableScroll-wrapper {
  position: relative;
  padding: 0 0 1rem;
  overflow: auto;
  white-space: nowrap;

  table {
    width: 100%;
  }

  &::-webkit-scrollbar {
    /*tableにスクロールバーを追加*/
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    /*tableにスクロールバーを追加*/
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    /*tableにスクロールバーを追加*/
    background: #bcbcbc;
  }
}

.scroll-notice {
  padding: 0.5em 0;
  text-align: right;
  font-size: 80%;
  color: var(--caution-color);

  &:before {
    content: "左右にスクロールできます";
  }
}
/* lists */
%list {
  list-style: none;
  padding: 0;

  li {
    position: relative;
    margin: 1em 0;
    padding-left: 1.5em;

    &:before {
      display: block;
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      top: 0.1em;
      left: 0.5em;
      color: var(--sub-color, #333);
      @include svgIcon();
    }
  }
}
/* caution */
%caution {
  margin: 2rem 0 0;
  font-size: 80%;
  text-align: right;
  line-height: 1.3;
  color: var(--caution-color);

  & > * {
    &:not(:first-child) {
      margin-top: 0.5em;
    }

    &:before {
      content: "※";
      margin-right: 0.5em;
    }
  }
}

/* bootstrap alerts */
%alert-shape {
  padding: 1em;
  margin: 1rem 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 90%;
}

.alert-success {
  @extend %alert-shape;
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;

  a {
    color: #2b542c;
  }
}

.alert-info {
  @extend %alert-shape;
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;

  a {
    color: #245269;
  }
}

.alert-warning {
  @extend %alert-shape;
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;

  a {
    color: #66512c;
  }
}

.alert-error {
  @extend %alert-shape;
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;

  a {
    color: #843534;
  }
}
