@import 'menu-toggle';
/* nav */
#siteNavi {
  transition: all 0.25s ease-out;

  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  background-color: $navBgColor;
  z-index: -1;
  opacity: 0;
  overflow-y: auto;
  text-align: center;
  &.is-active {
    visibility: inherit;
    opacity: 1;
    z-index: 99;
  }

  .inner {
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    -js-display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    // padding: 5vh 0;
  }
}
/*
#gNav {
  & > ul {
    & > * {
      position: relative;

      & > a {
        display: block;
        color: $mainColor;
        background-color: darken($subColor, 5%);
        font-size: 120%;
        &:before {
          @include icon-arrow-alt-circle-right();
        }
        &:hover {
          background-color: lighten($subColor, 8%);
        }
      }
    }
    @include MQ(lower-tablet) {
      & > li {
        border-bottom: 1px solid darken($subColor, 10%);
        &:first-child {
          border-top: 1px solid darken($subColor, 5%);
        }
        & > a {
          padding: 1.5em;
        }
      }
    }
    @include MQ(laptop) {
      & > * {
        margin: 2rem 0;
        overflow: hidden;
        & > a {
          display: -webkit-flex;
          display: flex;
          -js-display: flex;
          -webkit-align-items: center;
          align-items: center;
          font-size: 150%;
          padding: 1em;
          //   width: 25%;
          //   margin: auto;
          //   float: left;
        }
      }
    }
  }
}
.sub-menu {
  font-size: 90%;

  a {
    display: block;
    padding: 0.5em;
    color: $mainColor;
  }
  @include MQ(sp-only) {
    display: none;
    li {
      &:not(:last-child) {
        border-bottom: 1px solid darken($subColor, 5%);
      }
    }
  }
  @include MQ(tablet) {
    display: -webkit-flex;
    display: flex;
    -js-display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 2rem;
    padding: 5vh 0;
    & > * {
      width: 31.33%;
      margin: 0 1% 0;
      border-bottom: 1px solid darken($subColor, 5%);
    }
    a {
      padding: 1em;
    }
  }
}
#sNav {
  margin: 4rem 0 0;
  //   font-size: 85%;

  ul {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    & > li {
      flex: none;
      -webkit-flex: none;
      & > a {
        color: #fafafa;
        padding: 1em;
      }
    }
  }
}
*/
#menuToggle--gNav {
  display: inherit !important;
}
