@charset "UTF-8";
$control_position: 'fixed' !default;

/* nav */
#{$siteNavi} {
  @include MQ(lower-tablet) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--sitenavi-color-bg, #111);
    transition: all 0.25s ease-out;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    // display: grid;
    // place-items: center;
    overflow: scroll;
    display: -webkit-flex;
    display: flex;
    -js-display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 10vw;

    &.is-active {
      visibility: inherit;
      opacity: 1;
      z-index: 50;
    }
  }
}

#controls {
  position: #{$control_position};
  bottom: var(--toggle-position-v, 2rem);
  z-index: 99;
  padding: 0 var(--padding-h);
  @include MQ(laptop) {
    display: none;
  }
  &.--right {
    @include MQ(lower-tablet) {
      display: -webkit-flex;
      display: flex;
      -js-display: flex;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
    }
  }
}
#toggle-siteNavi {
  --toggleSize: 15vw;
  @include MQ(tablet) {
    --toggleSize: 7rem;
  }
  display: inline-block;
  padding: 0.75em;

  background-color: var(--toggle-color, var(--sub-color));

  overflow: hidden;
  position: relative;
  border: 1px solid var(--toggle-color-border, #666);
  &.--circle {
    border-radius: 50%;
    border: 3px solid var(--toggle-color-border, #666);
    padding: 1em;
    &:after {
      width: calc(var(--toggleSize) * 0.35) !important;
      height: calc(var(--toggleSize) * 0.35) !important;
    }
  }
  &.-squareText:before {
    content: 'MENU';
    font-size: 75%;
  }
  &:after {
    display: block;
    @include svgIcon(
      '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>',
      $color: var(--toggle-color-icon, #fafafa)
    );
    // width: var(--toggleSize);
    // height: var(--toggleSize);
    // width: calc(var(--toggleSize) * 0.5) !important;
    // height: calc(var(--toggleSize) * 0.5) !important;
  }
  &.is-active {
    &:after {
      @include svgIcon(
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>',
        $color: var(--toggle-color-icon, #fafafa)
      );
    }
  }
}
